.card {
  margin-top: 50px;
  background: #000000;
  
  h2, p {
    text-align: center;
    font-size: 1rem;
  }

  .infos {
    margin: 10px;
    color: rgba(202, 202, 202, 0.877);
    display: grid;
    align-items: center;
    justify-content: center;

    .btn {
      display: flex;
      margin: 10px;
      
      img {
      width: 20px;
      height: 20px;
    }
    }
    
  }

  img {
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
  }

  .button {

    

    button {
      width: 50px;
    }

    #teamHome {
      position: absolute;
      left: 10px;
      margin: auto;
    }
  }
}
