.card {
  margin: 10px;
  border: none;
  background: black;

  h2,
  p {
    text-align: center;
    font-size: 1rem;
  }
  .btn {
    display: flex;
    padding: auto 10px;
    justify-content: space-around;

    img {
      width: 20px;
      height: 20px;
    }
  }

  img {
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
  }

  .button {
    button {
      width: 50px;
    }

    #teamHome {
      position: absolute;
      left: 10px;
      margin: auto;
    }
  }
}
